<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Title</title>
</head>
<body>
<h1>For All </h1>
<h1>Welcome!!</h1>
<button type="button" onclick="location.href='/login'">LOGIN</button>
<!--<button type="button" onclick="location.href='/login'">관리자로 로그인</button>-->
<button type="button" onclick="location.href='/loginaccess/register'">REGISTER</button>
<ul>
	<li><a href="/loginaccess/member">게시글 1</a></li>
	<li><a href="/loginaccess/member">게시글 2</a></li>
	<li><a href="/loginaccess/member">게시글 3</a></li>
</ul>
</body>
</html>