<h1>회원가입</h1>
<form action="/loginaccess/loginpage/done" method="POST" id="register">
    <table id="dataTable" style="width:50%; cellspacing:'0';margin:auto;">
        <tbody>
            <tr>
                <td>아이디</td>
                <td><input name="mid" type="text"></td>
            </tr>
            <tr>
                <td>비밀번호</td>
                <td><input name="mpassword" type="text"></td>
            </tr>
        </tbody>
    </table>
    <button type="submit" class="btnSubmit">LOGIN</button>
</form>