<h1>회원가입</h1>
<form action="/loginaccess/register/done" method="POST" id="register">
    <table id="dataTable" style="width:50%; cellspacing:'0';margin:auto;">
        <tbody>
            <tr>
                <td>아이디</td>
                <td><input name="mid" type="text"></td>
            </tr>
            <tr>
                <td>이름</td>
                <td><input name="mname" type="text"></td>
            </tr>
            <tr>
                <td>비밀번호</td>
                <td><input name="mpassword" type="text"></td>
            </tr>
            <tr>
                <td>이메일 주소</td>
                <td><input name="memail" type="text"></td>
            </tr>
            <tr>
                <td>전화번호</td>
                <td><input name="telnum" type="text"></td>
            </tr>
            <tr>
                <td>생년월일</td>
                <td><input name="birth" type="date"></td>
            </tr>
        </tbody>
    </table>
    <button type="submit" class="btnSubmit">등록</button>
</form>